body {
    margin: 20%;
    font-size: 16;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    
    

}

table {
    border-collapse: collapse;
    width: 800px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px;
   
}
th{
    background-color:red;
    color: #fff;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}
.date{
    float: right;
    margin-right: 200px;
    color: #ff0000;
    
}
footer{
    text-align: center;
}

.barre{
    height: 5px;
    width: 70px;
    background-color: #ff0000;
    margin-bottom: 5%;
}

.ligne {
    height: 6px;
    width: 800px;
    background-color: #ff0000;
}
.dev {
    color: #ff0000;
}
.presence {
    font-weight: 800;
}
.num {
    text-align: center;
}