body {
    padding: 100px;
    margin: 100px;
    font-size: 16;
    font-family: Arial, Helvetica, sans-serif;
    

}

table {
    border-collapse: collapse;
   width: 800px;
   
}
th{
    background-color:red;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}
.date{
    float: right;
    margin-right: 200px;
    
}
footer{
    text-align: center;
}

.barre{
    height: 5px;
    width: 70px;
    background-color: #ff0000;
    margin-bottom: 5%;
}
